<div class="sheet-cpt">
  <div class="sheet-background"></div>
  <div class="sheet-image"></div>
  <div class="sheet-content pa-2">
    <div class="section-cpt pa-2">
      <div class="section-image"></div>
      <div class="section-background"></div>
      <div class="section-content">
        {{#if (listHasMore deletedSections 0)}}
          <ul class="list-style-none px-0 my-0">
            {{#each deletedSections as |entry|}}
              <li class="pa-2 mb-1 relative-section flex flex-ac flex-jsb">
                <div class="section-background-alternate"></div>
                <div class="flex-col col-9">
                  <div class="input-label-cpt">{{entry.label}}</div>
                  <div class="deleted-section-preview">{{entry.preview}}</div>
                  <div class="deleted-section-time">{{entry.deletedAtDisplay}}</div>
                </div>
                <div class="flex-col">
                  <button class="restore-section btn btn-primary-cpt" data-action="restoreSection" data-index="{{entry.index}}" type="button">
                    {{localize 'Restore'}}
                  </button>
                </div>
              </li>
            {{/each}}
          </ul>
        {{else}}
          <p>{{localize 'DeletedSectionsEmpty'}}</p>
        {{/if}}
      </div>
    </div>
  </div>
</div>
