<div class="cortexprime dice-picker">
  <div class="sheet-cpt">
    <div class="sheet-background"></div>
    <div class="sheet-image"></div>
    <div class="sheet-content pa-2">
      <div class="pa-2 section-cpt">
        <div class="section-image"></div>
        <div class="section-background-alternate"></div>
        <div class="section-content">
          <h3 class="section-primary-title-cpt text-center mb-2">{{localize title}}</h3>
          <div class="flex flex-c flex-wrap dice-box">
            {{#each rollResults.results as |rollResult rollResultIndex|}}
              <div class="die-icon-wrapper my-1">
                <div class="{{#if ../selectable}}cursor-pointer selectable{{/if}} result-die d{{rollResult.faces}} result{{#if rollResult.total}} chosen{{/if}}{{#if rollResult.effect}} effect{{/if}}" data-faces="{{rollResult.faces}}" data-key="{{rollResultIndex}}" data-result="{{rollResult.result}}">
                  {{> (concat "systems/cortexprime/templates/partials/dice/d" rollResult.faces ".html")
                    number=rollResult.result
                    type=(ternary rollResult.total 'chosen' (ternary rollResult.effect 'effect' 'unchosen'))
                  }}
                </div>
                <div class="descriptor-label-cpt">d{{rollResult.faces}}</div>
              </div>
            {{/each}}
            {{#each rollResults.hitches as |rollResult|}}
            <div class="die-icon-wrapper my-1">
              <div class="d{{rollResult.faces}} hitch">
                {{> (concat "systems/cortexprime/templates/partials/dice/d" rollResult.faces ".html")
                  number=1
                  type='hitch'
                }}
              </div>
              <div class="descriptor-label-cpt">d{{rollResult.faces}}</div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="flex-row my-2">
        <div class="flex-col col-6">
          <div class="section-cpt">
            <div class="section-image"></div>
            <div class="section-background"></div>
            <div class="section-content pa-2 text-center">
              <h3 class="section-primary-title-cpt">{{localize 'Total'}}</h3>
              <p class="total-value pt-2 pb-1 section-secondary-title-cpt">{{total}}</p>
            </div>
          </div>
        </div>
        <div class="flex-col col-6">
          <div class="section-cpt">
            <div class="section-image"></div>
            <div class="section-background"></div>
            <div class="section-content pa-2 text-center">
              <h3 class="section-primary-title-cpt">{{localize 'EffectDice'}}</h3>
              <div class="effect-dice flex-row flex-c flex-wrap">
                <div class="die-icon-wrapper my-1">
                  {{> (concat "systems/cortexprime/templates/partials/dice/d" effectDieFace ".html")
                    number=effectDieFace
                    type='effect'
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
