<form class="pa-2" autocomplete="off">
  <h3 class="section-secondary-title-cpt">{{localize 'Location'}}</h3>
  <div class="separator-cpt mb-2"></div>
  <div class="mb-2">
    <div class="input-label-cpt">{{localize 'LocationActorType'}}</div>
    <select class="input-cpt" name="locationActorTypeId" style="width: 100%">
      <option value="">{{localize 'None'}}</option>
      {{#each actorTypes}}
        <option value="{{id}}"{{ternary (eq id ../locationActorTypeId) ' selected' ''}}>{{name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="mb-2">
    <div class="input-label-cpt">{{localize 'RealityReinforcementTrait'}}</div>
    <select class="input-cpt" name="realityReinforcementTraitId" style="width: 100%">
      <option value="">{{localize 'None'}}</option>
      {{#each locationSimpleTraits}}
        <option value="{{id}}"{{ternary (eq id ../realityReinforcementTraitId) ' selected' ''}}>{{label}}</option>
      {{/each}}
    </select>
  </div>
  <div class="mb-2">
    <div class="input-label-cpt">{{localize 'ShieldingTrait'}}</div>
    <select class="input-cpt" name="shieldingTraitId" style="width: 100%">
      <option value="">{{localize 'None'}}</option>
      {{#each locationSimpleTraits}}
        <option value="{{id}}"{{ternary (eq id ../shieldingTraitId) ' selected' ''}}>{{label}}</option>
      {{/each}}
    </select>
  </div>
  <h3 class="section-secondary-title-cpt mt-2">{{localize 'PlayerCharacter'}}</h3>
  <div class="separator-cpt mb-2"></div>
  <div class="mb-2">
    <div class="input-label-cpt">{{localize 'PlayerCharacterActorType'}}</div>
    <select class="input-cpt" name="playerCharacterActorTypeId" style="width: 100%">
      <option value="">{{localize 'None'}}</option>
      {{#each actorTypes}}
        <option value="{{id}}"{{ternary (eq id ../playerCharacterActorTypeId) ' selected' ''}}>{{name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="mb-2">
    <div class="input-label-cpt">{{localize 'ParadoxTrait'}}</div>
    <select class="input-cpt" name="paradoxTraitId" style="width: 100%">
      <option value="">{{localize 'None'}}</option>
      {{#each playerCharacterSimpleTraits}}
        <option value="{{id}}"{{ternary (eq id ../paradoxTraitId) ' selected' ''}}>{{label}}</option>
      {{/each}}
    </select>
  </div>
  <div class="mb-2">
    <div class="input-label-cpt">{{localize 'TraumaTrait'}}</div>
    <select class="input-cpt" name="traumaTraitId" style="width: 100%">
      <option value="">{{localize 'None'}}</option>
      {{#each playerCharacterSimpleTraits}}
        <option value="{{id}}"{{ternary (eq id ../traumaTraitId) ' selected' ''}}>{{label}}</option>
      {{/each}}
    </select>
  </div>
  <div class="mb-2">
    <div class="input-label-cpt">{{localize 'PowersTraitSet'}}</div>
    <select class="input-cpt" name="powersTraitSetId" style="width: 100%">
      <option value="">{{localize 'None'}}</option>
      {{#each playerCharacterTraitSets}}
        <option value="{{id}}"{{ternary (eq id ../powersTraitSetId) ' selected' ''}}>{{label}}</option>
      {{/each}}
    </select>
  </div>
</form>
