<div class="sheet-cpt">
  <div class="sheet-background"></div>
  <div class="sheet-image"></div>
  <div class="sheet-content pa-2">
    <div class="section-cpt pa-2 mb-2">
      <div class="section-image"></div>
      <div class="section-background"></div>
      <div class="section-content">
        <div class="flex flex-ac flex-jsb mb-2">
          <h2 class="section-primary-title-cpt mb-0">{{localize 'PlotPointUsesGeneral'}}</h2>
          <button class="add-plot-point-use btn btn-icon btn-primary-cpt" data-action="addPlotPointUse" data-group="general" type="button"><i class="fa fa-plus"></i></button>
        </div>
        <ul class="list-style-none my-0 px-0">
          {{#each general as |use useIndex|}}
            <li class="flex flex-ac flex-wrap py-2 relative-section">
              <div class="{{ternary (eq (mod useIndex 2) 0) 'section-background' 'section-background-alternate'}}"></div>
              {{> "systems/cortexprime-ext/templates/partials/reorder.html" path='general' currentIndex=useIndex setting="plotPointUses" }}
              <div class="flex-col flex-g-1">
                <input class="input-cpt" name="general.{{useIndex}}.label" type="text" value="{{use.label}}">
              </div>
              {{> "systems/cortexprime-ext/templates/partials/remove-button.html"
                group='general' itemKey=useIndex itemName=use.label path='general' setting='plotPointUses' stayOnPage=true type="trash" }}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="section-cpt pa-2">
      <div class="section-image"></div>
      <div class="section-background"></div>
      <div class="section-content">
        <div class="flex flex-ac flex-jsb mb-2">
          <h2 class="section-primary-title-cpt mb-0">{{localize 'PlotPointUsesOpportunity'}}</h2>
          <button class="add-plot-point-use btn btn-icon btn-primary-cpt" data-action="addPlotPointUse" data-group="opportunity" type="button"><i class="fa fa-plus"></i></button>
        </div>
        <ul class="list-style-none my-0 px-0">
          {{#each opportunity as |use useIndex|}}
            <li class="flex flex-ac flex-wrap py-2 relative-section">
              <div class="{{ternary (eq (mod useIndex 2) 0) 'section-background' 'section-background-alternate'}}"></div>
              {{> "systems/cortexprime-ext/templates/partials/reorder.html" path='opportunity' currentIndex=useIndex setting="plotPointUses" }}
              <div class="flex-col flex-g-1">
                <input class="input-cpt" name="opportunity.{{useIndex}}.label" type="text" value="{{use.label}}">
              </div>
              {{> "systems/cortexprime-ext/templates/partials/remove-button.html"
                group='opportunity' itemKey=useIndex itemName=use.label path='opportunity' setting='plotPointUses' stayOnPage=true type="trash" }}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="text-center mt-2">
      <button class="btn btn-secondary-cpt reset-plot-point-uses" data-action="resetPlotPointUses" type="button">{{localize 'ResetToDefault'}}</button>
    </div>
  </div>
</div>
