<form class="{{cssClass}} sheet-cpt" autocomplete="off">
  <div class="sheet-background"></div>
  <div class="sheet-image"></div>
  <div class="sheet-content pa-2">
    <div class="section-cpt">
      <div class="section-image"></div>
      <div class="section-content">
        <div class="relative-section pb-2 pt-1">
          <div class="section-background"></div>
          <h3 class="section-primary-title-cpt px-2 mb-1">{{localize 'AddCustomDice'}}</h3>
          <div class="flex flex-ae">
            <div class="flex-col col-12 flex-g-1">
              <div class="flex-row flex-ac">
                <label class="flex-col flex-g-1">
                  <span class="input-label-cpt">{{localize 'Label'}}</span>
                  <input class="custom-dice-label input-cpt" name="customAdd.label" type="text" value="{{customAdd.label}}">
                </label>
                <div class="flex-col flex-s-1 max-50">
                  <span class="input-label-cpt">{{localize 'Dice'}}</span>
                  {{> "systems/cortexprime-ext/templates/partials/dice/select.html"
                    dice=customAdd.value
                    edit=true
                    selectName="customAdd"
                  }}
                </div>
              </div>
            </div>
            <div class="flex-col pr-1">
              <button class="reset-custom-pool-trait btn btn-secondary-cpt btn-icon" type="button">
                <i class="fa fa-undo"></i>
              </button>
            </div>
            <div class="flex-col pl-0">
              <button class="add-trait-to-pool btn btn-primary-cpt btn-icon" data-label="{{customAdd.label}}"
                data-trait-target="customAdd" type="button">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="flex-col col-12">
          {{#if isGM}}
              <div class="flex-row flex-ac flex-wrap mt-1">
                <div class="flex-col pr-1 pb-1">
                  <button class="btn btn-secondary-cpt set-difficulty" data-faces="4" type="button">{{localize 'VeryEasy'}}</button>
                </div>
                <div class="flex-col pr-1 pb-1">
                  <button class="btn btn-secondary-cpt set-difficulty" data-faces="6" type="button">{{localize 'Easy'}}</button>
                </div>
                <div class="flex-col pr-1 pb-1">
                  <button class="btn btn-secondary-cpt set-difficulty" data-faces="8" type="button">{{localize 'Challenging'}}</button>
                </div>
                <div class="flex-col pr-1 pb-1">
                  <button class="btn btn-secondary-cpt set-difficulty" data-faces="10" type="button">{{localize 'Hard'}}</button>
                </div>
                <div class="flex-col pb-1">
                  <button class="btn btn-secondary-cpt set-difficulty" data-faces="12" type="button">{{localize 'VeryHard'}}</button>
                </div>
              </div>
              <div class="mt-1">
                <span class="input-label-cpt">{{localize 'Challenge'}}</span>
                <div class="flex-row flex-ac flex-wrap mt-1">
                  <div class="flex-col pr-1 pb-1">
                    <button class="btn {{ternary (eq activeChallenge.type 'test') 'btn-primary-cpt' 'btn-secondary-cpt'}} set-challenge-type" data-type="test" type="button">{{localize 'Test'}}</button>
                  </div>
                  <div class="flex-col pr-1 pb-1">
                    <button class="btn {{ternary (eq activeChallenge.type 'contest') 'btn-primary-cpt' 'btn-secondary-cpt'}} set-challenge-type" data-type="contest" type="button">{{localize 'Contest'}}</button>
                  </div>
                  <div class="flex-col pr-1 pb-1">
                    <button class="btn {{ternary (eq activeChallenge.type 'group') 'btn-primary-cpt' 'btn-secondary-cpt'}} set-challenge-type" data-type="group" type="button">{{localize 'Group'}}</button>
                  </div>
                  {{#if activeChallenge.type}}
                  <div class="flex-col pb-1">
                    <button class="btn btn-secondary-cpt clear-challenge" type="button">{{localize 'ClearChallenge'}}</button>
                  </div>
                  {{/if}}
                </div>
                {{#if isGroupChallenge}}
                  {{#if isGroupSelecting}}
                  <div class="flex-row flex-as flex-wrap">
                    <div class="flex-col col-12">
                      <span class="input-label-cpt">{{localize 'GroupParticipants'}}</span>
                      <div style="display: flex; flex-direction: column;">
                        {{#each groupParticipantOptions}}
                          <label class="flex-row flex-ac">
                            <input class="group-participant-checkbox" type="checkbox" value="{{id}}" {{#if checked}}checked{{/if}}>
                            <span class="pl-1">{{name}}</span>
                          </label>
                        {{/each}}
                      </div>
                      <button class="btn btn-secondary-cpt start-group-initiative mt-1" type="button" {{#unless groupCanStartInitiative}}disabled{{/unless}}>{{localize 'StartInitiative'}}</button>
                      {{#unless groupCanStartInitiative}}
                        <p>{{localize 'GroupMinimumParticipants'}}</p>
                      {{/unless}}
                    </div>
                  </div>
                  {{/if}}
                  {{#if isGroupDueling}}
                  <div class="flex-row flex-as flex-wrap">
                    <div class="flex-col col-12">
                      <span class="input-label-cpt">{{localize 'GroupOrder'}}</span>
                      <div style="display: flex; flex-direction: column;">
                        {{#each groupOrder}}
                          <div class="flex-row flex-ac flex-jsb">
                            <span class="pl-1">
                              {{name}}
                              {{#if isChampion}} &mdash; {{localize 'GroupChampion'}}{{/if}}
                              {{#if isCurrent}} &mdash; {{localize 'RollNow'}}{{/if}}
                            </span>
                            <button class="remove-group-participant btn btn-icon btn-secondary-cpt btn-small" data-id="{{id}}" type="button">
                              <i class="fa fa-times"></i>
                            </button>
                          </div>
                        {{/each}}
                      </div>
                      {{#if groupNeedsChampion}}
                        <p class="sub-trait-label-cpt mt-1">{{localize 'GroupChampionRemoved'}}</p>
                      {{/if}}
                    </div>
                  </div>
                  {{/if}}
                {{else}}
                  {{#if activeChallenge.type}}
                  <div class="flex-row flex-as flex-wrap">
                    <div class="flex-col col-6 pr-1 pb-1">
                      <span class="input-label-cpt">{{localize 'RollNow'}}</span>
                      <div style="display: flex; flex-direction: column;">
                        {{#each challengeInitiatorOptions}}
                          <label class="flex-row flex-ac">
                            <input class="challenge-initiator" type="radio" name="challenge-initiator" value="{{id}}" {{#if selected}}checked{{/if}} {{#if ../challengeRadiosReadOnly}}disabled{{/if}}>
                            <span class="pl-1">{{name}}</span>
                          </label>
                        {{/each}}
                      </div>
                    </div>
                    <div class="flex-col col-6 pb-1">
                      {{#if (eq activeChallenge.type 'test')}}
                        <span class="input-label-cpt">{{localize 'RollNext'}}</span>
                        <div style="display: flex; flex-direction: column;">
                          {{#each challengeResponderOptions}}
                            <label class="flex-row flex-ac">
                              <input class="challenge-responder-checkbox" type="checkbox" value="{{id}}" {{#if checked}}checked{{/if}}>
                              <span class="pl-1">{{name}}</span>
                            </label>
                          {{/each}}
                        </div>
                      {{else}}
                        <span class="input-label-cpt">{{localize 'RollNext'}}</span>
                        <div style="display: flex; flex-direction: column;">
                          {{#each challengeResponderOptions}}
                            <label class="flex-row flex-ac">
                              <input class="challenge-responder-radio" type="radio" name="challenge-responder" value="{{id}}" {{#if checked}}checked{{/if}} {{#if ../challengeRadiosReadOnly}}disabled{{/if}}>
                              <span class="pl-1">{{name}}</span>
                            </label>
                          {{/each}}
                        </div>
                      {{/if}}
                    </div>
                  </div>
                  {{/if}}
                  {{#if challengeRadiosReadOnly}}
                  <div class="flex-row flex-as flex-wrap mt-2">
                    <div class="flex-col col-12">
                      {{#if activeChallenge.interference}}
                        <span class="input-label-cpt">{{localize 'Interference'}}</span>
                        <p class="sub-trait-label-cpt">{{interfererName}}</p>
                        <button class="btn btn-secondary-cpt end-interference mt-1" type="button">{{localize 'ResumeContest'}}</button>
                      {{else}}
                        <span class="input-label-cpt">{{localize 'SelectInterferingCharacter'}}</span>
                        <div style="display: flex; flex-direction: column;">
                          {{#each eligibleInterferers}}
                            <label class="flex-row flex-ac">
                              <input class="interferer-radio" type="radio" name="interferer" value="{{id}}">
                              <span class="pl-1">{{name}}</span>
                            </label>
                          {{else}}
                            <p>{{localize 'NoEligibleInterferers'}}</p>
                          {{/each}}
                        </div>
                        <button class="btn btn-secondary-cpt start-interference mt-1" type="button" {{#unless eligibleInterferers}}disabled{{/unless}}>{{localize 'StartInterference'}}</button>
                      {{/if}}
                    </div>
                  </div>
                  {{/if}}
                {{/if}}
              </div>
              {{/if}}
              {{#if activeChallenge.type}}
              <div class="mt-1">
                <p class="sub-trait-label-cpt">
                  {{#if isGroupChallenge}}
                    {{localize 'Group'}} &mdash;
                    {{#if isGroupSelecting}}{{localize 'GroupSelecting'}}{{/if}}
                    {{#if isGroupInitiative}}
                      {{localize 'Initiative'}} &mdash;
                      {{#if groupPendingNames}}
                        {{localize 'WaitingOnRolls'}}: {{#each groupPendingNames}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}
                      {{else}}
                        {{localize 'GroupInitiativeComplete'}}
                      {{/if}}
                    {{/if}}
                    {{#if isGroupDueling}}
                      {{#if groupCurrentChallengerName}}{{localize 'RollNow'}}: {{groupCurrentChallengerName}}{{/if}}
                    {{/if}}
                  {{else if activeChallenge.interference}}
                    {{localize 'Contest'}} &mdash; {{localize 'Interfere'}}: {{interfererName}}
                  {{else}}
                    {{localize (ternary (eq activeChallenge.type 'test') 'Test' 'Contest')}} &mdash; {{localize 'RollNow'}}: {{#each rollNowNames}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}{{#if rollNextNames}} &middot; {{localize 'RollNext'}}: {{#each rollNextNames}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}{{/if}}
                  {{/if}}
                </p>
              </div>
              {{#if isGM}}
                {{#each selectingRollers as |roller|}}
                <div class="mt-1 flex flex-ac flex-jsb">
                  <p class="sub-trait-label-cpt mb-0">{{localize 'Selecting'}} &mdash; {{roller.name}}</p>
                  <button class="btn btn-secondary-cpt request-reroll" data-actor-id="{{roller.id}}" type="button">
                    {{localize 'Reroll'}}
                  </button>
                </div>
                {{/each}}
              {{/if}}
              {{/if}}
              {{#if showChallengeTarget}}
              {{#if isInterfering}}
              <p class="sub-trait-label-cpt mt-2">{{localize 'InterferenceRoll'}}</p>
              {{/if}}
              <div class="flex-row my-2">
                <div class="flex-col col-6">
                  <div class="section-cpt pa-2 text-center">
                    <div class="section-image"></div>
                    <div class="section-background"></div>
                    <div class="section-content">
                      <h3 class="section-secondary-title-cpt">{{localize 'TargetTotal'}}</h3>
                      <p class="section-primary-title-cpt pt-2 pb-1">{{challengeTargetTotal}}</p>
                    </div>
                  </div>
                </div>
                <div class="flex-col col-6">
                  <div class="section-cpt pa-2 text-center">
                    <div class="section-image"></div>
                    <div class="section-background"></div>
                    <div class="section-content">
                      <h3 class="section-secondary-title-cpt">{{localize 'FailureEffectDice'}}</h3>
                      <div class="effect-dice flex-row flex-c flex-wrap">
                        {{#if challengeTargetEffectDice}}
                          {{#each challengeTargetEffectDice as |effectDie|}}
                            <div class="die-icon-wrapper my-1">
                              {{> (concat "systems/cortexprime-ext/templates/partials/dice/d" effectDie ".html")
                                number=effectDie
                                type='effect'
                              }}
                            </div>
                          {{/each}}
                        {{else}}
                          <div class="die-icon-wrapper my-1">
                            {{> "systems/cortexprime-ext/templates/partials/dice/d4.html"
                              number=4
                              type='effect'
                            }}
                          </div>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{/if}}
          </div>
        </div>
        <div class="separator-cpt"></div>
        <div class="relative-section pa-1">
          <div class="section-background-alternate"></div>
          <div>
            {{#each pool as |source sourceName|}}
              <div class="flex flex-ac flex-jsb py-1">
                <span class="trait-title-cpt flex-col">{{sourceName}}</span>
                <div class="flex-col">
                  <button class="btn btn-secondary-cpt clear-source" data-source="{{sourceName}}" type="button">
                    {{localize 'Clear'}}
                  </button>
                </div>
              </div>
              <div class="flex flex-ac flex-wrap py-2">
                {{#each source as |trait traitKey|}}
                  <div class="dice-tag flex-col ma-1 py-1">
                    <div class="flex-row flex-ac flex-wrap">
                      {{#if trait.label}}
                        <div class="flex-col pr-0 flex-g-1">
                          <p class="sub-trait-label-cpt">{{trait.label}}</p>
                        </div>
                      {{/if}}
                      <div class="flex-col pr-0 flex-s-1">
                        {{> "systems/cortexprime-ext/templates/partials/dice/select.html"
                          dice=trait.value
                          edit=true
                          selectName=(concat 'pool.' sourceName '.' traitKey)
                        }}
                      </div>
                      <div class="flex-col">
                        <button
                          class="remove-pool-trait btn btn-icon btn-secondary-cpt btn-small"
                          data-source="{{sourceName}}"
                          data-key="{{traitKey}}"
                          type="button"
                        >
                          <i class="fa fa-times"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                {{/each}}
              </div>
            {{else}}
              <div class="flex-col my-2">
                <p>{{localize 'NoTraitsInPool'}}</p>
              </div>
            {{/each}}
          </div>
        </div>
        {{#if (listHasMore pool 0)}}
        <div class="separator-cpt"></div>
        <div class="relative-section">
          <div class="section-background"></div>
          {{#unless isGM}}
          <div class="flex-col col-12 py-1">
            <label class="flex-row flex-ac">
              <input class="spend-plot-point-extra-die" type="checkbox" name="spendPlotPointForExtraDie"
                {{#if spendPlotPointForExtraDie}}checked{{/if}} {{#unless hasPlotPoints}}disabled{{/unless}}>
              <span class="pl-1">{{localize 'SpendPlotPointExtraDieCheckbox'}}</span>
            </label>
          </div>
          {{/unless}}
          {{#if dicePoolInvalidReason}}
          <div class="flex-col col-12 py-1 dice-pool-invalid-message">
            <p>{{dicePoolInvalidReason}}</p>
          </div>
          {{/if}}
          <div class="flex-col col-12 flex flex-je flex-as py-2">
            <div class="flex-col pl-0">
              <button class="clear-dice-pool btn btn-secondary-cpt" type="button">{{localize 'Clear'}}</button>
            </div>
            <div class="flex-col pl-0">
              <button class="roll-dice-pool btn btn-primary-cpt" type="button" {{#if rollButtonsDisabled}}disabled{{/if}}>{{localize 'RollAndSelect'}}</button>
            </div>
            <div class="flex-col pl-0">
              <button class="roll-dice-pool roll-for-effect btn btn-primary-cpt" type="button" {{#if rollButtonsDisabled}}disabled{{/if}}>{{localize 'RollForEffect'}}</button>
            </div>
            <div class="flex-col pl-0">
              <button class="roll-dice-pool roll-for-total btn btn-primary-cpt" type="button" {{#if rollButtonsDisabled}}disabled{{/if}}>{{localize 'RollForTotal'}}</button>
            </div>
            {{#if canRollToBeat}}
            <div class="flex-col pl-0">
              <button class="roll-dice-pool roll-to-beat btn btn-primary-cpt" type="button" {{#if rollButtonsDisabled}}disabled{{/if}}>{{localize 'RollToBeat'}}</button>
            </div>
            {{/if}}
          </div>
        </div>
        {{/if}}
        </div>
      </div>
    </div>
  </div>
</form>